@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Poppins';
    background-image: url(./luxa.org-opacity-changed-—Pngtree—powder\ smoke\ colorful\ background_2379658.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.nome_cima {
    text-align: center;
}

.calculadora_inteira {
    text-align: center;
    background-color: rgba(0, 0, 3, 0.3);
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
}

.botao {
    
    height: 60px;
    width: 60px;
    font-size: 1.5em;
    margin: 2px;
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    cursor: pointer;
    transition: all .2s;
    border-radius: 5px;
}

.botao:hover {
    background-color: black;
}

#botao_diferente2 {
    height: 129px;
}

#botao_diferente1 {
    width: 129px;
}

.calculadora_inteira #resultado {
    margin-top: 20px;
    height: 40px;
    width: 258px;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: black;
    font-size: 1.5em;
    text-align: start;
    overflow: hidden;
    
}
